/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    background-color: #addbe6;
    width: 65%;
    margin: auto;
    font-family: "Nerko One", Arial, sans-serif;
    text-align: center;
}
/* /COMMON */

/* HEADER */
h1 {
    color: white;
    padding: 2%;
    font-size: 3em;
}

/* /HEADER */

/* MAIN */

/* Sezione dedicata i div.card e al loro comportamento: se selezionati, compaiono immagine e didascalia */
.card {
    height: 14vw;
    width: 13vw;
    background-image: url("../img/pattern.png");
    background-color: white;
    display: inline-block;
    position: relative;
    background-size: contain;
    margin: 1%;
    border-radius: 10%;
}
.card * {
    display: none;
    width: 100%;

}
.card img {
    padding: 20%;
}
.card:hover, .uncovered {
    background-image: none;
}
.card:hover *, .uncovered * {
    display: block;
}
/* Didascalia all'immagine */
.description {
    position: absolute;
    bottom: 0;
    color: #e61986;
    font-size: 2vw;
}
.description:hover {
    color: #e67919;
}
/* /MAIN */

/* FOOTER */
footer h3 {
    font-size: 1em;
    margin-top: 3%;
}
/* /FOOTER */