/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

img {
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #addbe6;
    width: 65%;
    margin: auto;
    font-family: "Nerko One", Arial, sans-serif;
    text-align: center;
}

/* HEADER */

h1 {
    color: white;
    padding: 2%;
    font-size: 60px;
}

/* /HEADER */

.card {
    height: 140px;
    width: 120px;
    background-image: url("../img/pattern.png");
    background-color: white;
    display: inline-block;
    position: relative;
    background-size: contain;
    margin: 1%;
    border-radius: 10%;
}

/* Sezione dedicata i div.card e al loro comportamento: se selezionati, compaiono immagine e didascalia */

.card * {
    display: none;
}

.card img {
    padding: 20%;
}
/* per lasciare una specifica carta "scoperta" mi piaceva nth-child perchè poi risulta comoda per sceglierne eventualmente un'altra (sostituendo due numeri cambi fila e colonna) */
.card:hover, .row:nth-child(2)>.card:nth-child(3) {
    background-image: none;
}

.card:hover *, .row:nth-child(2)>.card:nth-child(3) * {
    display: block;
}

.description {
    position: absolute;
    bottom: 2%;
    left: 25%;
    color: #e61986;
}

.description:hover {
    color: #e67919;
}

footer {
    margin-top: 3%;
}